[bumpversion]
current_version = 0.0.0
commit = True
tag = True
tag_name = v{new_version}

[bumpversion:file:setup.cfg]
search = version = {current_version}
replace = version = {new_version}

[bumpversion:file:narchi/__init__.py]

